<ul *ngFor="let task of tasks?.content" class="list-group list-group-horizontal rounded-0">
  <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
    <div class="form-check">
      <input class="form-check-input me-0" type="checkbox" [checked]="!task.inProgress"/>
    </div>
  </li>
  <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
    <p class="lead fw-normal mb-0">{{task.description}}</p>
  </li>
  <li *ngIf="task.dueDate" class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
    <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
      <p class="small mb-0">
        <span title="Due on date"><i class="fas fa-hourglass-half me-2 text-warning"></i></span>
        {{task.dueDate}}
      </p>
    </div>
  </li>
  <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
    <div class="d-flex flex-row justify-content-end mb-1">
      <span class="text-info" title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></span>
      <span (click)="deleteTask(task)" class="text-danger" title="Delete todo"><i class="fas fa-trash-alt"></i></span>
    </div>
    <div class="text-end text-muted">
      <span class="text-muted" title="Created date">
        <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{task.createDate}}</p>
      </span>
    </div>
  </li>
</ul>

<nav aria-label="Page navigation example" *ngIf="tasks">
  <ul class="pagination">
    <li *ngFor="let page of numSequence(tasks.totalPages); let i = index;" (click)="changePage(i)" class="page-item">
      <span style="cursor: pointer;" class="page-link">{{i + 1}}</span>
    </li>
  </ul>
</nav>
