<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" style="max-width: 1400px;">
    <a class="navbar-brand" [routerLink]="routes.HOME.toString()">Connections Per User Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="connDropdown"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Connection <span *ngIf="selectedDatabase">( {{selectedDatabase}} )</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="connDropdown">
            <a class="dropdown-item" [routerLink]="routes.DATABASE_CONNECT.toString()">
              <span *ngIf="hasDbConnection">Change Connection</span>
              <span *ngIf="!hasDbConnection">Connect to a Database</span>
            </a>
            <div *ngIf="hasDbConnection" class="dropdown-divider"></div>
            <a *ngIf="hasDbConnection" class="dropdown-item" [routerLink]="routes.DATABASE_SELECT.toString()">Select Database</a>
            <a *ngIf="hasDbConnection" class="dropdown-item" [routerLink]="routes.DATABASE_CREATE.toString()">New Database</a>
          </div>
        </li>

<!--        {% if user %}-->
<!--        <li class="nav-item dropdown" descr="projects">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"-->
<!--             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Projects-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="projectsDropdown">-->
<!--            <a class="dropdown-item" href="{{ path("/projects/my") }}">-->
<!--            My Projects-->
<!--            </a>-->
<!--            {% if hasRole(adminRole) %}-->
<!--            <a class="dropdown-item" href="{{ path("/projects/all") }}">-->
<!--            All Projects-->
<!--            <small>(admin)</small>-->
<!--            </a>-->
<!--            <a class="dropdown-item" href="{{ path("/projects/create") }}">-->
<!--            New Project-->
<!--            </a>-->
<!--            {% endif %}-->
<!--          </div>-->
<!--        </li>-->

<!--        <li class="nav-item dropdown" descr="tasks">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="tasksDropdown" role="button"-->
<!--             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Tasks-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="tasksDropdown">-->
<!--            <a class="dropdown-item" href="{{ path("/tasks/my") }}">-->
<!--            My Tasks-->
<!--            </a>-->
<!--            {% if hasRole(adminRole) %}-->
<!--            <a class="dropdown-item" href="{{ path("/tasks/create") }}">-->
<!--            New Task-->
<!--            </a>-->
<!--            {% endif %}-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown" descr="reports">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button"-->
<!--             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Reports-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="reportsDropdown">-->
<!--            <a class="dropdown-item" href="{{ path("/reports/my") }}">-->
<!--            My Reports-->
<!--            </a>-->
<!--          </div>-->
<!--        </li>-->
<!--        {% endif %}-->

<!--        {% if hasRole(adminRole) %}-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"-->
<!--             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Admin-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="adminDropdown">-->
<!--            <a class="dropdown-item" href="{{ path("/users/create") }}">-->
<!--            Create User-->
<!--            </a>-->
<!--          </div>-->
<!--        </li>-->
<!--        {% endif %}-->
      </ul>

      <ul *ngIf="selectedDatabase" class="navbar-nav ms-auto">
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link" href="#">{{ currentUser.username }}</a>
        </li>
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="logout()">Logout</a>
        </li>

        <li *ngIf="!currentUser" class="nav-item">
          <a class="nav-link" [routerLink]="routes.LOGIN.toString()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
