<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
        <div class="card-body py-4 px-4 px-md-5">

          <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
            <i class="fas fa-check-square me-1"></i>
            <u>My Tasks</u>
          </p>

          <div class="pb-2">
            <app-create-task></app-create-task>
          </div>

          <hr class="my-4">

          <app-tasks-filter></app-tasks-filter>

          <app-tasks-grid></app-tasks-grid>
        </div>
      </div>
    </div>
  </div>
</div>
