<div class="mr-auto mt-2 pt-3">
  <h3>Select Database</h3>

  <h3 *ngFor="let error of errors | filterFieldError:''" class="alert alert-danger">{{error.message}}</h3>
  <form method="post" [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div>
      <label for="dbName">Database Name</label>
      <select formControlName="selectedDatabase" name="databaseName" id="dbName" class="form-control selectize">
        <option value="" disabled selected>-- Choose --</option>
        <option *ngFor="let db of databases">{{db}}</option>
      </select>
      <app-field-error [errors]="errors" fieldName="selectedDatabase"></app-field-error>
    </div>

    <div class="form-group text-end">
      <div class="mt-1">
        <div class="m-1 d-inline">
          <a [routerLink]="routes.DATABASE_CONNECT.toString()" class="btn btn-dark">
            Change Connection
          </a>
        </div>
        <div class="m-1  d-inline">
          <a [routerLink]="routes.DATABASE_CREATE.toString()" class="btn btn-dark">
            New Database
          </a>
        </div>
        <div class="m-1  d-inline">
          <button [disabled]="!form.valid" type="submit" class="btn btn-info">
            Choose
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
